@import "tailwindcss";
@import "@heroui/styles"; 

.marquee {
  width: max-content;
  animation: marquee 35s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}